@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Hero Section  */
.hero-bg {
  background: url("./assets/images/bg_illustration.png");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 900px) {
  .hero-bg {
    background-size: 100%;
  }
}

/* Mobile drawer fixed styles */
.mobile-drawer {
  background-color: white;
  isolation: isolate;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.mobile-drawer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: -1;
}

/* Fix for mobile drawer content */
.mobile-drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  overflow: auto;
  position: relative;
}

.ai-message {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
